<nav class="nav  ">
    <h1><i class="fa fa-shopping-bag" aria-hidden="true"></i>Trend Factory</h1>
    <div >
        <ul id="menuitems">
            <li><a routerLink="">Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a routerLink="admin" >Admin <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            <li><a (click)="onLogout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            <li><a routerLink="cart"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> ({{totalitem}})</a></li>          
        </ul>
    </div>
</nav>


        
    
    

   
    
    
