<ng-container *ngIf="products.length!=0">
    <div class="container">
<div class="card-table">
    <div class="card-product">
        <table class="table table-bordered">
           <thead>
            <tr>
                <th>Sr.No</th>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Delete</th>
            </tr>
           </thead>
           <tbody *ngFor="let item of products; let i=index">
            <tr>
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td><img src="{{item.image}}" style="width: 120px;"></td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.total}}</td>
            <td><button class="btn btn-danger" (click)="removeItem(item)"><i class="fas fa-trash"></i></button></td>
        </tr>
<tr>
        
    </tr>
           </tbody>
           <td colspan="4"></td>
        <td><button class="btn btn-danger" (click)="emptyCart()">Empty Cart</button></td>
        <td><button class="btn btn-success" routerLink="">Shop more</button></td>
        
        <td><strong>Grand Total:{{grandTotal}}</strong></td>
        </table>
    </div>
</div>
    </div>
</ng-container>>

<!-- empty cart -->
<ng-container *ngIf="products.length==0">
    <div class="center">
        <h4 >Your Cart is Empty</h4>
        <h6>Add item</h6>
        <button class="btn btn-dark" routerLink="">Shop now</button>
    </div>
</ng-container>
